<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Swift Transfer - Booking Confirmation</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Booking Confirmation</h1>
        <p>Thank you for using Swift Transfer! Your booking is confirmed.</p>
        <p>We will contact you soon at the provided contact number. Safe travels!</p>
    </div>
</body>
</html>
